.coruselPadding
{
        margin: 0px 0px;
}
.SwiperH {
   text-align: center;
    font-size: 28px;
    padding: 20px 0px 15px 0px;
    color: #ffffff;
}
.work {
    height: 100%;
    padding: 0 0 5px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(30deg, #8ec5fc3b 0%, #e0c3fc1c 100%);
    border-radius: 10px;
    /*height: 21em;*/
    /*width: 100%;*/
    /*box-shadow: 1px 2px 2px 0px #00000029;*/
    /*background-color: #fafffb;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #ddd;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: stretch;*/
}
.prImg {
        box-shadow: none;
    width: 80%;
    margin: 10px auto;
/*    padding-top: 15px;*/
}

.bottGroup {
    margin-top: 10px;  
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-center {
    text-align: center !important;
}
.work .text h3 a {
    color: #000;
    font-size: 22px;
}

.w-100 {
    width: 100% !important;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
}
.h3NameText {
    padding: 0px 10px 0px 10px;
/*    max-height: 3em;*/
    height: 50px;
    overflow: hidden;
    line-height: 1;
    font-size: 16px;
    color: #000000d4;
    margin-bottom: 7px;
    text-align: center;
     display: -webkit-box;          /* Устанавливаем блочную модель */
    -webkit-line-clamp: 3;         /* Количество строк перед обрезкой */
    -webkit-box-orient: vertical;  /* Указываем вертикальную ориентацию */
    overflow: hidden;              /* Скрываем лишний текст */
    text-overflow: ellipsis;
/*    line-height: 1;   */
}
.work .text span {
    letter-spacing: 1px;
}
.oldPrice {
    font-size: 15px;
    text-decoration: line-through;
    color: black;
    width: 40%;
}
.newPrice {
position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #7a84a5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
       width: 60%;
    /* right: 0px; */
    padding: 2px 0;
    display: inline-block;
}
.prButton {
    margin: 5px auto 15px;
    width: 80%;
    height: 35px;
    border: none;
    font-family: "AvenirNextCyr", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: #4ad56a;
    border-radius: 3px;
    box-shadow: 0 0 10px #00000052;
}
.questionText {
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    /* text-transform: lowercase; */
    /* text-align: center; */
    padding: 15px 0px 0px 0px;
    color: #2f2f2f;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}
}
/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6161;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4ad56a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4ad56a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-container {
    font-weight: 400;
    margin-top: 15px;
    display: flex;
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    justify-content: center;
/*    margin-bottom: 15px;*/
    padding-bottom: 5px;
}
.switch {
    margin: 0 10px;
}

.noText {
    font-size: 20px;
    color: #ff6161;
    padding: 0 5px;
}
.yesText {
    font-size: 20px;
    color: #4ad56a;
    padding: 0 5px;
}
.prNameText {
    margin: 10px 0px 0px 0px;
    font-weight: 500;
    font-size: 25px;
}



















/*Коля*/

.owl-dots {
    display: flex!important;
    justify-content: center!important;
    position: relative;
    top: -15px;
}
.owl-dots button {
        width: 10px;
    height: 10px;
    color: #000;
    /* border: 1px solid; */
    border-radius: 50px!important;
    background: #ddd!important;
    margin: 0 5px!important;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*bottom: -50px!important;*/
    top: -200px!important;
    position: relative;
}
.owl-nav span {
    font-size: 40px;
}



.owl-dots .active {
    background: #167ac6!important;
}

.owl-prev {
    position: relative;
    right: 20px;
    color: #167ac6!important;
}
.owl-next {
   
    position: relative;
    left: 20px;
    color: #167ac6!important;
}


.owl-nav .disabled {
    color: #ddd!important;
}



